.box-container {
  width: 80%;
  height: auto;
  display:grid;
  grid-template-rows: 300px;
  grid-template-columns: 500px 500px;
  grid-gap:5px;
}

.blue-box {
  background-color: blue;
}

.red-box {
  background-color: red;
}
